body {
    background: rgba(0,0,0, 0.04);
    font-family: Arial;
}

.scale {
    /*margin: auto;*/
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 240px;
    height: 110px;
    box-shadow: 2px 2px;
    border-radius: 3px;
    background: white;
}

.neighbors {
    display: flex;
    flex-wrap: wrap;
}

.scale_header {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    margin-top: 0px;
}

.major { background-color: white;}
.dorian { background-color: #54E346; }
.phrygian { background-color: #00FFCC; }
.lydian { background-color: #0F52BA; }
.mixolydian { background-color: #FFF47D; }
.minor { background-color: #D83A56; }
.locrian { background-color: #B980F0; }
