:root {
  --radius: 380px;
  --item_size: 140px;
  --item_margin: -80px;
  /*--item_margin: = calc(-1px * var(--item_size) / 2);*/
}

.circle {
    /*border-radius: 50%;*/
    font-size: 50pt;
    width: var(--item_size);
    height: var(--item_size);
    background-color: red;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin: var(--item_margin);
    /*margin: -50px;*/
}

._1  { transform: rotate(30deg ) translate(var(--radius)); }
._2  { transform: rotate(60deg ) translate(var(--radius)); }
._3  { transform: rotate(90deg ) translate(var(--radius)); }
._4  { transform: rotate(120deg) translate(var(--radius)); }
._5  { transform: rotate(150deg) translate(var(--radius)); }
._6  { transform: rotate(180deg) translate(var(--radius)); }
._7  { transform: rotate(210deg) translate(var(--radius)); }
._8  { transform: rotate(240deg) translate(var(--radius)); }
._9  { transform: rotate(270deg) translate(var(--radius)); }
._10 { transform: rotate(300deg) translate(var(--radius)); }
._11 { transform: rotate(330deg) translate(var(--radius)); }
._12 { transform: rotate(360deg) translate(var(--radius)); }
