body {
    background: rgba(0,0,0, 0.04);
    font-family: Arial;
}

.card {
    /*margin: auto;*/
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 240px;
    height: 110px;
    box-shadow: 2px 2px;
    border-radius: 3px;
}
.card a {
    color: black;
    text-decoration: none;
}

.card_header {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.as_c {
    font-size: 8pt;
    padding: 2px;
}

.selected_scale { outline: 5px solid red; }

.initial {
    display: flex;
    flex-wrap: wrap;
}

.neighbors {
    display: flex;
    flex-wrap: wrap;
}

.major { background-color: #FFFFFF;}
.dorian { background-color: #54E346; }
.phrygian { background-color: #00FFCC; }
.lydian { background-color: #68A6FC; }
.mixolydian { background-color: #FFF47D; }
.minor { background-color: #D83A56; }
.locrian { background-color: #B980F0; }
.p_major { background-color: #FFFFFF;}
.p_dorian { background-color: #54E346; }
.p_phrygian { background-color: #00FFCC; }
.p_mixolydian { background-color: #FFF47D; }
.p_minor { background-color: #D83A56; }
.diminished { background-color: #B980F0; }

ol {
    list-style-type: none;
    padding-left: 0;
}

.compare_scales {
    display: flex;
}

/* mobile */
@media screen and (max-width: 1080px) {
    .compare_chords {
        display: flex;
        flex-direction: row;
    }

    .chords_row {
        display: flex;
        flex-direction: column;
    }
    .left {margin-right: 75px;}
    .right {margin-left: 75px;}
    header { font-size: 22pt; }
}

/* desktop */
@media screen and (min-width: 1080px) {
    .chords_row {
        display: flex;
        flex-direction: row;
    }

    .compare_chords {
        display: flex;
        flex-direction: column;
    }
    .chords_row.left {margin-bottom: 75px;}
    .chords_row.right {margin-top: 75px;}
}
