body {
    background: rgba(0,0,0, 0.04);
    font-family: Arial;
}

.card {
    /*margin: auto;*/
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 240px;
    height: 110px;
    box-shadow: 2px 2px;
    border-radius: 3px;
}

.card_header {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.as_c {
    font-size: 8pt;
}

.selected_scale { outline: 5px solid red; }

.initial {
    display: flex;
    flex-wrap: wrap;
}

.neighbors {
    display: flex;
    flex-wrap: wrap;
}

.major { background-color: #FFFFFF;}
.dorian { background-color: #54E346; }
.phrygian { background-color: #00FFCC; }
.lydian { background-color: #0F52BA; }
.mixolydian { background-color: #FFF47D; }
.minor { background-color: #D83A56; }
.locrian { background-color: #B980F0; }
.p_major { background-color: #FFFFFF;}
.p_dorian { background-color: #54E346; }
.p_phrygian { background-color: #00FFCC; }
.p_mixolydian { background-color: #FFF47D; }
.p_minor { background-color: #D83A56; }
.diminished { background-color: #B980F0; }

.compare_scales {
    display: flex;
    flex-direction: column;
}

.chords_row {
    display: flex;
    margin: 75px 0px 75px 0px;
}

/*.left  { margin: 0px 50px 0px 0px; }
.right { margin: 0px 0px 0px 50px; }
*/

ol {
    list-style-type: none;
}
