:root {
    --major: #FFFFFF;
    --dorian: #54E346;
    --phrygian: #00FFCC;
    --lydian: #68A6FC;
    --mixolydian: #FFF47D;
    --minor: #D83A56;
    --locrian: #B980F0;
}

body {
    background: rgba(0,0,0, 0.04);
    font-family: Arial;
}

.card {
    /*margin: auto;*/
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 250px;
    height: 110px;
    box-shadow: 2px 2px;
    border-radius: 3px;
}
.card a {
    color: black;
    text-decoration: none;
}

.card_header {
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scale_name {
    display: inline-block;
    width: 100px;
    /*background-color: white;*/
}

.chord_button {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 0px 10px 0px 10px;
}

.chord_buttons_row {
    margin: 10px 0px 10px 0px;
}

.as_c {
    font-size: 8pt;
    padding: 2px;
}

.selected_scale { outline: 5px solid red; }

.initial {
    display: flex;
    flex-wrap: wrap;
}

.neighbors {
    display: flex;
    flex-wrap: wrap;
}

.major { background-color: var(--major); }
.dorian { background-color: var(--dorian); }
.phrygian { background-color: var(--phrygian); }
.lydian { background-color: var(--lydian); }
.mixolydian { background-color: var(--mixolydian); }
.minor { background-color: var(--minor); }
.locrian { background-color: var(--locrian); }
.p_major { background-color: var(--major); }
.p_dorian { background-color: var(--dorian); }
.p_phrygian { background-color: var(--phrygian); }
.p_mixolydian { background-color: var(--mixolydian); }
.p_minor { background-color: var(--minor); }
.s_major { background: var(--major); }
.s_dorian { background: var(--dorian); }
.s_phrygian { background: var(--phrygian); }
.s_lydian { background: var(--lydian); }
.s_mixolydian { background: var(--mixolydian); }
.s_minor { background: var(--minor); }
.diminished { background-color: var(--locrian); }

ol {
    list-style-type: none;
    padding-left: 0;
}

.compare_scales {
    display: flex;
}

/* mobile */
@media screen and (max-width: 1080px) {
    .compare_chords {
        display: flex;
        flex-direction: row;
    }

    .chords_row {
        display: flex;
        flex-direction: column;
    }
    .left {margin-right: 75px;}
    .right {margin-left: 75px;}
    header { font-size: 22pt; }
}

/* desktop */
@media screen and (min-width: 1080px) {
    .chords_row {
        display: flex;
        flex-direction: row;
    }

    .compare_chords {
        display: flex;
        flex-direction: column;
    }
    .chords_row.left {margin-bottom: 75px;}
    .chords_row.right {margin-top: 75px;}
}


.is_shared {
    border: 2px solid rgb(0,255,0);   
}
